<mat-card class="example">
  <mat-card-header>
    <h2>List User</h2>
  </mat-card-header>
  <mat-card-content>
   <table mat-table [dataSource]="datasource" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="dID">
    <h3>Delete User By ID</h3>
    <mat-form-field>
      <input matInput type="text" placeholder="ID" name="EnterID" #dID>
    </mat-form-field>
  <button mat-raised-button color="primary"  [disabled]="(dID.value.length === 0)" (click) = "deleteByID(dID.value)" >Delete User</button>
</div>
</mat-card-content>
</mat-card>
